daemon
Django==2.2.17
django-bootstrap3==11.0.0
django-revproxy
django-tables2<1.17
django-dbbackup<4.0
django-csp
gitdb
GitPython
psutil
Pygments
pytz
PyYAML
requests
six
smmap
urllib3
ipy
elasticsearch<7
django-ipware
gunicorn
djangorestframework
markdown
django-filter
idstools
enum34
django-webpack-loader
django-cprofile-middleware
